<p>This site is an eclectic set of (somewhat) famous quotes.  Today's quote of the day is as follows:</p>
<p>&nbsp;</p>

<h1><%= puts "hello world" %></h1><br>

<h2><%= puts "what" %></h2>

<p>&nbsp;</p>
<%= link_to 'Add a new quote to our list', new_quote_path %>